* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#leftnav {
  background-color: #ffffff;
  position: fixed;
  padding: 1rem;
  left: 40px;
  top: 40px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#ele {
  display: none;
  flex-direction: column;
  height: 100%;
  /*NOTE: transition does not work with display you will have to do something with opacity for that, here it is not possible*/
}

button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

button:hover {
  transform: scale(1.2);
}

button:active {
  transform: scale(0.9);
}

#ele > button {
  margin-top: 30px;
}

#cross {
  display: none;
}

#rightnav {
  background-color: #ffffff;
  padding: 1rem;
  position: fixed;
  right: 40px;
  border-radius: 50px;
  top: 40px;
}

svg {
  width: 35px;
  height: 35px;
}

#app {
  height: 200vh;
}

nav {
  z-index: 100;
}

@media (max-width: 768px) {
  #leftnav {
    left: 20px;
    bottom: 20px;
    top: auto;
    padding: 0.5rem 1rem;
  }

  #bur,
  #cross {
    display: none;
  }

  #ele {
    display: flex;
    flex-direction: row;
  }

  #ele > button {
    margin-top: 0;
    margin-left: 20px;
  }

  #ele > button:first-child {
    margin-left: 0;
  }

  #rightnav {
    right: 20px;
    top: auto;
    bottom: 20px;
    padding: 0.5rem;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  button:hover {
    transform: none;
  }

  button:active {
    transform: scale(0.9);
  }
}
